header{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: rgb(8, 8, 8);
	border-style: solid;
	border-color: brown;
	border-width: 5px;
	color: white;
}
.header-bild{
	border-radius: 800px;
	width: 200px;
	height: 200px;
}
.header-menu{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	padding: 60px;
}
body{
	margin: 0;
	background-color: brown;
	border: solid brown 30px;
}
.undertitle{
	display: flex;
	justify-content: center;
	background-color: orange;
	margin: 3rem;
	padding: 3rem;
	border: solid brown 1rem;

}
.answers{
	border: solid black 5px;
	width: 180px;
	padding: 10px;
	background-color: rgb(0, 136, 255);
	color: orange;
	position: relative;
	left: 12rem;
}
.lists{
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	margin: 20px;
	border: solid brown 1rem;
	background-color: orange;
}