header{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	background-color: rgb(8, 8, 8);
	border-style: solid;
	border-color: brown;
	color: white;
}
.header-bild{
	border-radius: 800px;
	width: 200px;
	height: 200px;
}
.header-menu{
	display: flex;
	flex-direction: column;
	justify-content:space-between;
	padding: 60px;
}
body{
	margin: 0;
}
.answers{
	border: dotted purple 5px;
	width: 180px;
	padding: 10px;
}
.lists{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 30px;
	margin: 20px;
}